/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/bin
/vendor/brick
/vendor/carbonphp
/vendor/composer
/vendor/dflydev
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/fakerphp
/vendor/filp
/vendor/fruitcake
/vendor/graham-campbell
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nette
/vendor/nikic
/vendor/nunomaduro
/vendor/phar-io
/vendor/phpoption
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ralouphie
/vendor/ramsey
/vendor/sebastian
/vendor/spatie
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/webmozart
/vendor/autoload.php

/vendor/laravel/pint
/vendor/laravel/prompts
/vendor/laravel/sail
/vendor/laravel/sanctum
/vendor/laravel/serializable-closure
/vendor/laravel/tinker
/vendor/laravel/ui

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
