.vacancies_page {
    background: url(/vacancies_files/ellipse_bg_4.png) no-repeat right 20%, url(/vacancies_files/ellipse_bg_3.png) no-repeat left 90%;
  }
  .vacancies_page_wrap {
    max-width: 1200px;
    padding: 0 20px;
    padding-top: 80px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .vacancies_page_heading {
    margin-bottom: 50px;
  }
  .vacancies_page_flex {
    display: flex;
    gap: 30px;
  }
  .vacancies_page_search {
    max-width: 264px;
  }
  .vacancies_page_search_heading {
    margin-bottom: 30px;
  }
  .vacancies_page_list {
    max-width: 744px;
  }
  .vacancies_page_search {
    border: 1px solid #CEE19A;
    border-radius: 6px;
    padding: 32px 16px 32px 16px;
    /*max-height: 320px;*/
    height: fit-content;
    max-height: 370px;
  }
  .vacancies_page_search button {
    display: none;
  }
  .vacancies_page_card {
    border: 1px solid #9DC436;
    padding: 24px 16px;
    border-radius: 6px;
    margin-bottom: 35px;
  }
  .vacancies_page_card_title, .vacancies_page_card_salary {
    margin-bottom: 15px;
  }
  .vacancies_page_card_title a:hover {
    color: #9DC436;
    text-decoration: underline;
  }
  .vacancies_page_card_desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .vacancies_page_card_info {
    margin-bottom: 20px;
  }
  .vacancies_page_button {
    font-size: 16px;
    line-height: 20px;
    margin-right: 25px;
  }
  .vacancies_page_input {
    margin-bottom: 10px;
  }
  .vacancies_page_input label {
    display: block;
    margin-bottom: 10px;
  }
  .vacancies_page_inline_flex {
    display: flex;
    flex-wrap: wrap;
  }
  .choices__inner {
    min-height: 26px;
    width: 92%;
    border: none;
    border-bottom: 1px solid #CEE19A
  }
  .choices__item {
    word-break: break-word;
    /*padding-right: 100px;*/
    padding-right: 50px!important;
  }
  .choices__list--single .choices__item {
    width: 92%;
  }
  .choices__item.is-selected {
    position: relative;
  }
  .choices__item.is-selected {
    background: rgba(0, 0, 0, .05) url(/vacancies_files/check2.svg) no-repeat 90% 50%!important;
  }
  .choices[data-type*=select-one]::after {
    border: none;
    content: url(/vacancies_files/arrow_down.svg);
    right: 25px;
    top: 30%;
    transition: all .35s;
  }
  .choices[data-type*=select-one].is-open::after {
    transform: rotate(180deg);
    right: 15px;
    top: 90%;
  }
  
  @media (max-width: 1045px) {
    .vacancies_page_search {
      min-width: 190px;
    }
  }
  
  @media (max-width: 768px) {
    .vacancies_page_flex {
      flex-direction: column;
      align-items: center;
    }
    .vacancies_page_search {
      max-width: none;
      width: 90%;
    }
    .vacancies_page_button {
      margin-right: 10px;
    }
    .choices__inner {
      width: 100%;
    }
  }
  
  @media (max-width: 515px) {
    .vacancies_page_button  {
      margin-bottom: 10px;
    }
    .vacancies_page {
      background: none;
    }
  }
  
  
  .vacancy_category .vacancies_page_list {
    margin: 0 auto;
  }
  .vacancy_category .vacancies_page_flex {
    display: block;
  }
  .vacancy_category .vacancies_page_wrap:first-of-type {
    padding: 20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }